body {
  text-align: center;
  background: #353133;
  color: white;
  padding-top:90px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
button {
  background-color:rgb(70, 197, 87);
  font-size:1.7em;
  border: 0px;
  padding:18px;
  border-radius:15px;
  text-transform: uppercase;
  font-weight:bold;
  font-family:'Courier New', Courier, monospace;
}
button:hover {
  background-color:rgb(73, 114, 85);
  color:white;
}
h1,h2,h3,h4,h5,h6 {
  font-weight:normal;
}
#sentence {
  color:aquamarine;
  font-weight: bold;
  font-size:x-large;
}
#x0 {
  color:rgb(245, 136, 117);
}
#x1 {
  color:rgb(255, 244, 179);
}
#x2 {
  color:aquamarine;
}
#x3 {
  color:lightblue;
}
